.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
}

.link {
  margin: 24px;
  position: relative;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  word-break: keep-all;
}

.link:after {
  position: absolute;
  left: -64px;
  top: 7px;
  display: inline-block;
  background: url(/favicon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 56px;
  height: 56px;
  content: '';
}